%article#content
  %h1
    goodies
  %h2
    Official Images
  %div#imageData
    %section
      %h1
        500x500
      %p= image_tag('image500x500.svg', width: '100', height: '100', alt: '')
      %p
        = link_to('500x500(SVG)', image_path('image500x500.svg'), target: '_blank')
        ,&nbsp;
        = link_to('500x500(PNG)', image_path('image500x500.png'), target: '_blank')
      %h1
        1280x780
      %p= image_tag('image1280x720.svg', width: '128', height: '78', alt: '')
      %p
        = link_to('1280x780(SVG)', image_path('image1280x720.svg'), target: '_blank')
        ,&nbsp;
        = link_to('1280x780(PNG)', image_path('image1280x720.png'), target: '_blank')

  %h2
    Badges and Banners
  %div#badges
    %section
      %h1
        160x160
      %p= image_tag('badgeAttendee.png')
      %dl.listMark
        %dt
          ATTENDEE:
        %dd
          = link_to('160x160', image_path('badgeAttendee.png'), target: '_blank')
          ,&nbsp;
          = link_to('@2x', image_path('badgeAttendee@2x.png'), target: '_blank')
        %dt
          ATTENDEE(AWAY):
        %dd
          = link_to('160x160', image_path('badgeAttendeeAway.png'), target: '_blank')
          ,&nbsp;
          = link_to('@2x', image_path('badgeAttendeeAway@2x.png'), target: '_blank')
        %dt
          SPEAKER:
        %dd
          = link_to('160x160', image_path('badgeSpeaker.png'), target: '_blank')
          ,&nbsp;
          = link_to('@2x', image_path('badgeSpeaker@2x.png'), target: '_blank')
        %dt
          LIGHTNING TALKER:
        %dd
          = link_to('160x160', image_path('badgeLightningTalker.png'), target: '_blank')
          ,&nbsp;
          = link_to('@2x', image_path('badgeLightningTalker@2x.png'), target: '_blank')
        %dt
          COMMITTER:
        %dd
          = link_to('160x160', image_path('badgeCommitter.png'), target: '_blank')
          ,&nbsp;
          = link_to('@2x', image_path('badgeCommitter@2x.png'), target: '_blank')
        %dt
          OFFICIAL SPONSOR:
        %dd
          = link_to('160x160', image_path('badgeOfficialSponsor.png'), target: '_blank')
          ,&nbsp;
          = link_to('@2x', image_path('badgeOfficialSponsor@2x.png'), target: '_blank')
        %dt
          STAFF:
        %dd
          = link_to('160x160', image_path('badgeStaff.png'), target: '_blank')
          ,&nbsp;
          = link_to('@2x', image_path('badgeStaff@2x.png'), target: '_blank')

    %section
      %h1 780x90
      %p= image_tag('bannerOfficialSponsor.png')

      %dl.listMark
        %dt
          OFFICIAL SPONSOR:
        %dd
          = link_to('780x90', image_path('bannerOfficialSponsor.png'), target: '_blank')
          ,&nbsp;
          = link_to('@2x', image_path('bannerOfficialSponsor@2x.png'), target: '_blank')
