%article#content
  %h1
    schedule
  %h2 May 30
  %div
    %ol.scheduleList
      %li.break
        = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}

      %li
        = partial 'schedule_row', locals: {slot: '10:00', cells: [[{events: 'opening'}, {events: '20th'}], []]}
      %li
        = partial 'schedule_row', locals: {slot: '11:00', cells: [[{talks: 'matz'}], []]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '12:30', text: 'LUNCH BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '13:30', cells: [[{talks: 'T05'}, {talks: 'T22'}], [{talks: 'T93'}, {talks: 'T69'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '14:30', cells: [[{talks: 'T23'}, {talks: 'T39'}], [{events: 'legal-bodies-about-ruby'}, {events: '_why'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '16:00', cells: [[{talks: 'T73'}], [{talks: 'T64'}, {talks: 'T55'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '17:00', cells: [[{talks: 'T54'}, {talks: 'T58'}], [{talks: 'T59'}, {talks: 'T27'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '18:00', cells: [[{events: 'kaja'}], []]}

  %h2 May 31
  %div
    %ol.scheduleList
      %li.break
        = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}

      %li
        = partial 'schedule_row', locals: {slot: '10:00', cells: [[{talks: 'T76'}, {talks: 'T72'}], [{talks: 'T29'}, {talks: 'T41'}]]}
      %li
        - # TODO Add @xiao
        = partial 'schedule_row', locals: {slot: '11:00', cells: [[{talks: 'T43'}, {talks: 'T84'}], [{talks: 'T01'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '12:30', text: 'LUNCH BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '13:30', cells: [[{talks: 'josevalim'}], []]}
      %li
        = partial 'schedule_row', locals: {slot: '14:30', cells: [[{talks: 'T61'}, {talks: 'T32'}], [{talks: 'T66'}, {talks: 'T67'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '16:00', cells: [[{talks: 'T49'}, {talks: 'T79'}], [{talks: 'T17'}, {talks: 'T85'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '17:00', cells: [[{events: 'lt'}], []]}
      %li
        = partial 'schedule_row', locals: {slot: '18:00', cells: [[{events: 'committers'}], []]}

  %h2 June 1
  %div
    %ol.scheduleList
      %li.break
        = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}

      %li
        = partial 'schedule_row', locals: {slot: '10:00', cells: [[{talks: 'T30'}, {talks: 'T21'}], [{talks: 'T26'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '11:00', cells: [[{talks: 'T06'}, {talks: 'T34'}], [{talks: 'T78'}, {talks: 'T24'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '12:30', text: 'LUNCH BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '13:30', cells: [[{talks: 'T94'}, {talks: 'T50'}], [{talks: 'T91'}, {talks: 'T42'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '14:30', cells: [[{talks: 'T70'}, {talks: 'T48'}], [{events: 'TRICK'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}

      %li
        - # TODO Add @shyouhei
        = partial 'schedule_row', locals: {slot: '16:00', cells: [[{talks: 'T19'}], [{talks: 'T68'}, {talks: 'T09'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '17:00', cells: [[{talks: 'akr'}], []]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '18:00', text: 'CLOSING'}
