%article#content
  %h1
    schedule
  %h2 May 30
  %div
    %ol.scheduleList
      %li.break
        = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}

      %li
        = partial 'schedule_row', locals: {slot: '10:00', cells: [[{events: 'opening'}, {events: '20th'}], []]}
      %li
        = partial 'schedule_row', locals: {slot: '11:00', cells: [[{keynotes: 'matz'}], []]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '12:30', text: 'LUNCH BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '13:30', cells: [[{sessions: 'S05'}, {sessions: 'S22'}], [{sessions: 'S93'}, {sessions: 'S69'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '14:30', cells: [[{sessions: 'S23'}, {sessions: 'S39'}], [{events: 'legal-bodies-about-ruby'}, {events: '_why'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '16:00', cells: [[{sessions: 'S73'}], [{sessions: 'S64'}, {sessions: 'S55'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '17:00', cells: [[{sessions: 'S54'}, {sessions: 'S58'}], [{sessions: 'S59'}, {sessions: 'S27'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '18:00', cells: [[{events: 'kaja'}], []]}

  %h2 May 31
  %div
    %ol.scheduleList
      %li.break
        = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}

      %li
        = partial 'schedule_row', locals: {slot: '10:00', cells: [[{sessions: 'S76'}, {sessions: 'S72'}], [{sessions: 'S29'}, {sessions: 'S41'}]]}
      %li
        - # TODO Add @xiao
        = partial 'schedule_row', locals: {slot: '11:00', cells: [[{sessions: 'S43'}, {sessions: 'S84'}], [{sessions: 'S01'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '12:30', text: 'LUNCH BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '13:30', cells: [[{keynotes: 'josevalim'}], []]}
      %li
        = partial 'schedule_row', locals: {slot: '14:30', cells: [[{sessions: 'S61'}, {sessions: 'S32'}], [{sessions: 'S66'}, {sessions: 'S67'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '16:00', cells: [[{sessions: 'S49'}, {sessions: 'S79'}], [{sessions: 'S17'}, {sessions: 'S85'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '17:00', cells: [[{events: 'lt'}], []]}
      %li
        = partial 'schedule_row', locals: {slot: '18:00', cells: [[{events: 'committers'}], []]}

  %h2 June 1
  %div
    %ol.scheduleList
      %li.break
        = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}

      %li
        = partial 'schedule_row', locals: {slot: '10:00', cells: [[{sessions: 'S30'}, {sessions: 'S21'}], [{sessions: 'S26'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '11:00', cells: [[{sessions: 'S06'}, {sessions: 'S34'}], [{sessions: 'S78'}, {sessions: 'S24'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '12:30', text: 'LUNCH BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '13:30', cells: [[{sessions: 'S94'}, {sessions: 'S50'}], [{sessions: 'S91'}, {sessions: 'S42'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '14:30', cells: [[{sessions: 'S70'}, {sessions: 'S48'}], [{events: 'TRICK'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}

      %li
        - # TODO Add @shyouhei
        = partial 'schedule_row', locals: {slot: '16:00', cells: [[{sessions: 'S19'}], [{sessions: 'S68'}, {sessions: 'S09'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '17:00', cells: [[{keynotes: 'akr'}], []]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '18:00', text: 'CLOSING'}
