%article#content
  %h1
    schedule
  %h2 May 30
  %div
    = partial 'schedule_legend'

    %ol.scheduleList
      %li.break
        = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}

      %li
        = partial 'schedule_row', locals: {slot: '10:00', cells: [[{talks: 'opening'}, {talks: 'S57'}], []]}
      %li
        = partial 'schedule_row', locals: {slot: '11:00', cells: [[{talks: 'S81'}], []]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '12:00', text: 'LUNCH BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '13:30', cells: [[{talks: 'S05'}, {talks: 'S22'}], [{talks: 'S93'}, {talks: 'S69'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '14:30', cells: [[{talks: 'S39'}, {talks: 'S08'}], [{talks: 'S52'}, {talks: 'S51'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '16:00', cells: [[{talks: 'S73'}], [{talks: 'S64'}, {talks: 'S55'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '17:00', cells: [[{talks: 'S54'}, {talks: 'S58'}], [{talks: 'S59'}, {talks: 'S27'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '18:00', cells: [[{talks: 'S62'}], []]}

  %h2 May 31
  %div
    = partial 'schedule_legend'

    %ol.scheduleList
      %li.break
        = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}

      %li
        = partial 'schedule_row', locals: {slot: '10:00', cells: [[{talks: 'S76'}, {talks: 'S72'}], [{talks: 'S29'}, {talks: 'S41'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '11:00', cells: [[{talks: 'S43'}, {talks: 'S84'}], [{talks: 'S01'}, {talks: 'S07'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '12:00', text: 'LUNCH BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '13:30', cells: [[{talks: 'S80'}], []]}
      %li
        = partial 'schedule_row', locals: {slot: '14:30', cells: [[{talks: 'S61'}, {talks: 'S32'}], [{talks: 'S66'}, {talks: 'S67'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '16:00', cells: [[{talks: 'S49'}, {talks: 'S79'}], [{talks: 'S17'}, {talks: 'S85'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '17:00', cells: [[{text: link_to('Lightning Talks', '/2013/lightning_talks')}], []]}
      %li
        = partial 'schedule_row', locals: {slot: '18:00', cells: [[{talks: 'S56'}], []]}

  %h2 June 1
  %div
    = partial 'schedule_legend'

    %ol.scheduleList
      %li.break
        = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}

      %li
        = partial 'schedule_row', locals: {slot: '10:00', cells: [[{talks: 'S30'}, {talks: 'S21'}], [{text: '-'}, {talks: 'S26'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '11:00', cells: [[{talks: 'S06'}, {talks: 'S34'}], [{talks: 'S78'}, {talks: 'S24'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '12:00', text: 'LUNCH BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '13:30', cells: [[{talks: 'S94'}, {talks: 'S50'}], [{talks: 'S91'}, {talks: 'S42'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '14:30', cells: [[{talks: 'S70'}, {talks: 'S48'}], [{talks: 'S53'}]]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}

      %li
        = partial 'schedule_row', locals: {slot: '16:00', cells: [[{talks: 'S19'}, {talks: 'S20'}], [{talks: 'S68'}, {talks: 'S09'}]]}
      %li
        = partial 'schedule_row', locals: {slot: '17:00', cells: [[{talks: 'S82'}], []]}

      %li.break
        = partial 'schedule_row_break', locals: {slot: '18:00', text: 'CLOSING'}
