%article#content
  %h1
    schedule
  %div
    - if data.sessions.empty?
      %p.comingSoon
        Coming soon...

    - else
      %h2 Day 1 - May 30

      %ol
        %li
          = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}
        %li

        %li
          = partial 'schedule_row', locals: {slot: '10:00', cells: [['S55'], []]}
        %li
          = partial 'schedule_row', locals: {slot: '11:00', cells: [[], []]}
        %li

        %li
          = partial 'schedule_row_break', locals: {slot: '12:30', text: 'LUNCH BREAK'}
        %li

        %li
          = partial 'schedule_row', locals: {slot: '13:30', cells: [[], []]}
        %li
          = partial 'schedule_row', locals: {slot: '14:30', cells: [[], []]}
        %li

        %li
          = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}
        %li

        %li
          = partial 'schedule_row', locals: {slot: '16:00', cells: [[], []]}
        %li
          = partial 'schedule_row', locals: {slot: '17:00', cells: [[], []]}
        %li
          = partial 'schedule_row', locals: {slot: '18:00', cells: [[], []]}

      %h2 Day 2 - May 31

      %ol
        %li
          = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}

        %li
          = partial 'schedule_row', locals: {slot: '10:00', cells: [[], []]}
        %li
          = partial 'schedule_row', locals: {slot: '11:00', cells: [[], []]}

        %li
          = partial 'schedule_row_break', locals: {slot: '12:30', text: 'LUNCH BREAK'}

        %li
          = partial 'schedule_row', locals: {slot: '13:30', cells: [[], []]}
        %li
          = partial 'schedule_row', locals: {slot: '14:30', cells: [[], []]}

        %li
          = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}

        %li
          = partial 'schedule_row', locals: {slot: '16:00', cells: [[], []]}
        %li
          = partial 'schedule_row', locals: {slot: '17:00', cells: [[], []]}

      %h2 Day 3 - June 1

      %ol
        %li
          = partial 'schedule_row_break', locals: {slot: '9:30', text: 'Door Open'}

        %li
          = partial 'schedule_row', locals: {slot: '10:00', cells: [[], []]}
        %li
          = partial 'schedule_row', locals: {slot: '11:00', cells: [[], []]}

        %li
          = partial 'schedule_row_break', locals: {slot: '12:30', text: 'LUNCH BREAK'}

        %li
          = partial 'schedule_row', locals: {slot: '13:30', cells: [[], []]}
        %li
          = partial 'schedule_row', locals: {slot: '14:30', cells: [[], []]}

        %li
          = partial 'schedule_row_break', locals: {slot: '15:30', text: 'COFFEE BREAK'}

        %li
          = partial 'schedule_row', locals: {slot: '16:00', cells: [[], []]}
        %li
          = partial 'schedule_row', locals: {slot: '17:00', cells: [[], []]}
