- talk = data.talks[id]
%article#content
  %h1 Detail
  %div#detail
    %h2= talk.title
    %div= talk.description

    - talk.speakers.each do |speaker|
      %h3
        %span.name
          #{speaker.name}
          - if github = speaker.links.github
            = link_to "(@#{github})", "https://github.com/#{github}"

        %span.links
          - if speaker.links.github
            %span.btn
              %a{ href: "https://github.com/#{speaker.links.github}", target: '_blank' }
                %i.icon-github-alt
          - else
            %span.btnDisabled
              %a
                %i.icon-github-alt

          - if speaker.links.twitter
            %span.btn
              %a{ href: "https://twitter.com/#{speaker.links.twitter}", target: '_blank' }
                %i.icon-twitter
          - else
            %span.btnDisabled
              %a
                %i.icon-twitter

      %div.speakerProfile
        %p.avatar
          = gravatar_tag(speaker.gravatar, 200, alt: speaker.name)
        %dl
          %dt Company / Job Title
          %dd= speaker.job ? speaker.job : '-'
          %dt Bio
          %dd= speaker.bio ? speaker.bio : '-'
          %dt Location
          %dd= speaker.location ? speaker.location : '-'
      %p.backTo
        %i.icon-arrow-right
        = link_to 'Back to SCHEDULE', '/2013/schedule/'
