%ul
  %li
    = slot
    - ['Kaigi Hall', 'Media Hall'].each_with_index do |hall, index|
      - next if cells[index].blank?

      %ul
        = hall
        - cells[index].each do |id|
          %li
            - if id.to_s =~ /^S\d{2}$/
              - session = data.sessions[id.to_s]
              = link_to "'#{session.title}'", "/2013/session/#{id}"
              \-
              = session.speakers.map(&:name).join(', ')
            - else
              - event = data.events[id.to_s]
              = event.title
              \-
              = event.organizer.map(&:name).join(', ')
