%ul
  %li
    = slot
    - ['Kaigi Hall', 'Media Hall'].each_with_index do |hall, index|
      - next if cells[index].blank?

      %ul
        = hall
        - cells[index].each do |id|
          %li
            - session = data.sessions[id.to_s]
            - next unless session # TODO
            = link_to "'#{session.title}'", "/2013/session/#{id}"
            \-
            = session.speakers.map(&:name).join(', ')
