%h3<>= slot
- ['A', 'B'].each_with_index do |hall, index|
  - next if cells[index].blank?

  %ul.scheduleRow<>
    %h4= hall
    - cells[index].each do |hash|
      - type, id = hash.first

      %li
        - case type
        - when :talks
          - if appeal_sponsor(id)
            .sponsorAppeal
              %b
                Sponsor appeal
              \-
              = appeal_sponsor(id).name
          - talk = data.talks[id.to_s]
          %span.language
            = normalize_spoken_language(talk)
          - if talk.keynote
            %span.keynote Keynote
          = link_to_if talk.title && talk.description, talk.title ? "'#{talk.title}'" : '', "/2013/talk/#{id}", class: 'talkTitle'
          \-
          - speakers = talk.organizers.presence || talk.speakers
          = speakers.map(&:name).join(', ')

        - when :text
          = id

        - else
          (missing id: #{type}:#{id})
