%h3<>= slot
- ['A', 'B'].each_with_index do |hall, index|
  - next if cells[index].blank?

  %ul<>
    %h4= hall
    - cells[index].each do |hash|
      - type, id = hash.first

      %li
        - if type == :talks
          - talk = data.talks[id.to_s]
          = link_to "'#{talk.title}'", "/2013/talk/#{id}", class: 'talkTitle'
          \-
          = talk.speakers.map(&:name).join(', ')

        - elsif type == :events
          - event = data.events[id.to_s]
          %span.event= event.title
          - if event.organizer.present?
            \-
            = event.organizer.map(&:name).join(', ')

        - elsif type == :keynotes
          - keynote = data.keynotes[id.to_s]
          %span.keynote Keynote
          \-
          = keynote.speaker.name

        - else
          (missing id: #{type}:#{id})
